<div class="page-header">
<h1>Hello Niggaz!</h1>

<%= link_to "New post", new_status_path, class: "btn btn-success" %>
<%= link_to "Sign In", '/users/sign_in' %>
<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
<%= link_to "Register", new_user_registration_path %>
</div>
<% @statuses.each do |status| %>
<div class="status">
  <strong>Name</strong>
  <p><%= status.content %></p>
  <div class="meta">
    <%= link_to time_ago_in_words(status.created_at) + " ago", status %> |
    <span class="admin">
      <%= link_to "Edit", edit_status_path(status) %> |
      <%= link_to "Delete", status, method: :Delete, data: { confirm: "are you sure nigga?"} %>
      </span>
    </div>
</div>
  <% end %>