<!DOCTYPE html>
<html>
<head>
  <title>Treebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
			<a href="#" class="brand"> Home</a>
			<ul class="nav">
				<li><%= link_to "all-statuses", statuses_path %></li>
			</ul>
			<ul class="nav pull-right">
				
			</ul>
			</div>
		</div>
	</div>
	<div class="container">
	 <% if flash[:notice]%>
	 <div class="alert alert-success">
	 	<button class="closer" data-dismiss="alert"></button>
	 	<%= flash[:notice] %>
	 </div>
	 <% end -%>

	 	 <% if flash[:alert]%>
	 <div class="alert alert-error">
	 	<button class="closer" data-dismiss="alert"></button>
	 	<%= flash[:alert] %>
	 </div>
	 <% end -%>

<%= yield %>
	</div>
</body>
</html>
